/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { width: 100%; max-width: 1400px; margin: 20px auto 0px; text-align: center; font-family: Roboto, "Helvetica Neue", sans-serif; }
