<h1>Welcome to user-manager!</h1>
<div class="wrapper">
  <p *ngIf="!(userService.users$ | async)?.length && !newUserFormShown" id="no-users-message">
    There are currently no users in the system!
  </p>

  <button mat-stroked-button (click)="showNewUserForm()" *ngIf="!newUserFormShown">Add User</button>

  <app-asqs-assignment-new-user-form
    *ngIf="newUserFormShown"
    (cancel)="hideNewUserForm()"
    (userAdded)="onUserAdded($event)"
  ></app-asqs-assignment-new-user-form>

  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let user of userService.users$ | async"
      [routerLink]="['/details/' + user.id]"
      [class.bg-yellow]="user.isAdmin"
    >
      {{ user.firstName }} {{ user.lastName }} ({{ user.username }})
      <small *ngIf="user.isAdmin">admin</small>
    </a>
  </mat-nav-list>
</div>
