.wrapper {
  width: 500px;
  margin: 20px auto 10px;
}

.bg-yellow {
  background-color: #FFEE58;

  &:hover {
    background-color: #FDD835;
  }
}

a {
  display: flex;

  small {
    margin-left: auto;
  }
}

