<div *ngIf="user">
  <h1>Properties of {{ user.username }}</h1>

  <mat-card>
    ID: <span id="id">{{ user.id }}</span>
  </mat-card>

  <mat-card>
    Username: <span id="username">{{ user.username }}</span>
  </mat-card>

  <mat-card>
    First name: <span id="firstName">{{ user.firstName }}</span>
  </mat-card>

  <mat-card>
    Last name: <span id="lastName">{{ user.lastName }}</span>
  </mat-card>

  <mat-card>
    Administrator: <span id="isAdmin">{{ user.isAdmin }}</span>
  </mat-card>

  <mat-card>
    Department: <span id="department">{{ user.department }}</span>
  </mat-card>
</div>

<mat-card *ngIf="!user" id="notFound">User with ID "{{ userId }}" does not exist!</mat-card>

<a [routerLink]="['/']">Go back</a>
