<form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
  <div
    *ngIf="
      newUserForm.controls['username'].invalid &&
      newUserForm.controls['username'].touched &&
      newUserForm.controls['username']?.errors?.pattern
    "
    class="alert alert-danger"
  >
    Username cannot contain whitespace!
  </div>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Username" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName" placeholder="First name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName" placeholder="Last name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Department" formControlName="department" required>
      <mat-option *ngFor="let d of departments | keyvalue" [value]="d.value">{{ d.value }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox matCheckbox formControlName="isAdmin">Administrator</mat-checkbox>

  <button type="button" mat-stroked-button color="warn" (click)="emitCancelEvent()">Cancel</button>
  <button type="submit" mat-stroked-button color="primary">Add</button>
</form>
